 /* בס"ד */
 .txt-edit-layout {
     display: grid;
     grid-template-columns: minmax(0px, 150px) 1fr;
 }

 .txt-editor {

     grid-column: 2;
     position: relative;
     margin-inline-start: 250px;
     padding: 4px 16px 12px 16px;
     margin-bottom: 30px;
     color: #202124;
     box-shadow: 0 3px 5px rgba(0, 0, 0, .20);
     background-color: #fff;
     border-color: #e0e0e0;
     border: 1px solid transparent;
     border-radius: 8px;
     max-width: 37.5em;
 }

 .pinned-unpinned-container {
     grid-column: 2;
 }

 .main-nav {
     grid-column: 1;
     position: absolute;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
   }

 .main-nav>* {
    display: inline;
     list-style-type: none;
 }

 .txt-editor .inputs-container {
     display: flex;
     flex-direction: column;
 }

 .btn-color-picker {
     cursor: pointer;
 }

 .cursur-pointer {
     cursor: pointer;
 }

 .color-picker {
     grid-column: 2;
     display: flex;
 }

 .file-dialog {
     position: relative;
 }

 .btn-file-dialog {
     position: absolute;
     width: 5px;
     opacity: 0;
     cursor: pointer;

 }

 .color-paleta {
     position: relative;
 }

 .color-picker ul {
     display: grid;
     list-style: none;
     padding: 24px;
     grid-template-columns: repeat(5, 1fr);
 }

 .color-picker ul li {
     width: 24px;
     height: 24px;

     border-radius: 50%;

 }

 .txt-editor input {
     background-color: transparent;
     white-space: pre-wrap;
     word-wrap: break-word;
     min-height: 43px;
     padding: 10px 15px;
     font-size: 1rem;
     font-weight: 500;
     line-height: 1.5rem;
     letter-spacing: .00625em;
     border-top-style: hidden;
     border-right-style: hidden;
     border-left-style: hidden;
     border-bottom-style: hidden;
 }

 .txt-editor .txt-editor-buttons {
     display: flex;
     justify-content: space-between;
     max-height: 1.6em;
 }

 .txt-editor .txt-editor-buttons button {
     border: none;
     background-color: transparent;
     box-sizing: border-box;
     color: rgba(0, 0, 0, .87);
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     letter-spacing: .01785714em;
     font-size: .875rem;
     font-weight: 500;
     line-height: 1.25rem;
     height: 36px;
     padding: 8px 24px;
     margin-block-start: 0.1em;
 }

.icon{
    display: flex;
    margin-inline-start: 15px;
}
.icon .icon-txt{
    margin-block-start: 14px;
    margin-inline-start: 30px;
}

 .txt-editor input:focus {
     outline: none;
 }

 .svg-icons {
     display: flex;
     justify-content: space-between;
     align-items: self-end;
     min-width: 300px;
 }