 /* בס"ד */

 .mail-preview {
     list-style: none;
     outline: 1px solid black;
     width: 100%;
     display: table;
     cursor: pointer;
 }

 .mail-preview p {
     cursor: auto;
     padding: 0.2em;
     margin: 0;
     display: flex;
     justify-content: space-between;
 }

 .mail-preview section {
     cursor: pointer;
     display: inline;
 }

 .mail-list {
     outline: 1px solid black;
     padding: 0;
 }

 .mail-list-container {
    grid-column: 2/3;

 }

 .mail-grid{
    display: grid;
    grid-template-columns: 256px minmax(500px, 1fr) 1em;

 }

 .compose-btn{
    grid-column: 1;
    grid-row: 1;
width: fit-content;
 }

 .filter{
     display: inline;
     grid-column: 2;
 }

 .mail-trash {
     display: inline;
     z-index: 100;
     cursor: grab;
 }

 .mail-trash:active {
     cursor: grabbing;
 }