 /* בס"ד */

 .mail-preview {
     list-style: none;
     outline: 1px solid black;
     width: 100%;
     display: table;
     cursor: pointer;
 }

 .mail-preview p {

     padding: 0.2em;
     margin: 0;
 }

 .mail-list {
     outline: 1px solid black;
     grid-column: 2/3;
     padding: 0;
 }

 .mail-list-container {
     display: grid;
     grid-template-columns: 1em 1fr 1em;

 }

 .mail-trash {
    display: inline;
    z-index: 100;
    cursor: grab;
}

.mail-trash:active {
    cursor: grabbing;
}