 /* בס"ד */

 .mail-grid {
     display: grid;
     grid-template-columns: 256px minmax(500px, 1fr) 1em;
     min-height: 100%
 }

 .side-bar {
     grid-column: 1/2;
     grid-row: 1/3;
     background-image: linear-gradient(to right, rgb(239, 235, 235), #fff);
 }

 .filter-list {
     grid-row: 2/3;
 }

 .side-bar ul {
     list-style: none;
 }

 .side-bar ul button {
     background-color: transparent;
     border: none;
 }

 .side-bar .mail-inbox-icon svg {
     translate: 0 5px;
 }

 .side-bar .mail-sent-icon svg {
     translate: 0 5px;
 }

 .side-bar .mail-trash-icon svg {
     translate: 0 5px;
     cursor: pointer;
 }

 .side-bar .mail-inbox-icon::after {
     content: 'inbox';
     opacity: 0;
 }

 .side-bar .mail-sent-icon::after {
     content: 'sent';
     opacity: 0;
 }

 .side-bar .mail-trash-icon::after {
     content: 'trash';
     opacity: 0;
 }

 .side-bar .mail-inbox-icon:hover::after {
     transition: opacity 1s;
     opacity: 1;
 }

 .side-bar .mail-sent-icon:hover::after {
     transition: opacity 1s;
     opacity: 1;

 }

 .side-bar .mail-trash-icon:hover::after {
     transition: opacity 1s;
     opacity: 1;
 }